<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout/header :: header(${producto.nombre})}"></head>

<body>

<div th:replace="~{fragments/layout/navbar :: navbar}"></div>

<main class="container py-4">

    <!-- Barra de navegacion -->


    <!-- Información principal -->
    <div class="row g-5 align-items-start">
        <div class="col-lg-5">

            <img
                    th:src="@{${producto.urlImagen}}"
                    th:alt="${producto.nombre}"
                    class="img-fluid rounded shadow">

        </div>

        <div class="col-lg-7">

            <h2 th:text="${producto.nombre}"></h2>

            <p class="text-muted"
               th:text="${producto.categoria.nombre}"></p>

            <h3 class="text-primary"
                th:text="'$ ' + ${#numbers.formatDecimal(producto.precio,1,'COMMA',2,'POINT')}">
            </h3>

            <div class="mb-4">

                <span
                        class="badge bg-success p-2"
                        th:if="${producto.existencia > 0}">

                    Disponible
                    (
                    <span th:text="${producto.existencia}"></span>
                    unidades)

                </span>

                <span
                        class="badge bg-danger p-2"
                        th:if="${producto.existencia == 0}">

                    Agotado

                </span>

            </div>

            <form th:action="@{/carrito/agregar/{id}(id=${producto.id})}"
                  method="post">

                <button type="submit"
                        class="btn btn-success btn-lg">

                    <i class="bi bi-cart-plus"></i>
                    Agregar al carrito

                </button>

            </form>
        </div>
    </div>

    <!-- Descripción -->
    <div class="card mt-5">

        <div class="card-header">

            Descripción

        </div>

        <div class="card-body">

            <p
                    class="mb-0"
                    th:text="${producto.descripcion}">
            </p>

        </div>

    </div>


    <!-- Productos relacionados -->
    <h4 class="mt-5">

        Productos relacionados

    </h4>

</main>

<div th:replace="~{fragments/layout/footer :: footer}"></div>

<div th:replace="~{fragments/layout/scripts :: scripts}"></div>

</body>

</html>