<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="paginacion(page)">

    <nav aria-label="Product navigation" th:if="${page.totalPages > 0}">
        <ul class="pagination justify-content-center">

            <!-- Pagina previa-->
            <li class="page-item" th:classappend="${page.first} ? 'disabled'">
                <a class="page-link" th:href="@{/productos(pagina=0,
                        nombre=${filtro.nombre},
                        categoriaId=${filtro.categoriaId},
                        precioMinimo=${filtro.precioMinimo},
                        precioMaximo=${filtro.precioMaximo})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <!-- Numeros de paginas -->
            <li class="page-item"
                th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
                th:classappend="${i == page.number} ? 'active'">
                <a class="page-link"
                   th:href="@{/productos(pagina=${i},
                        nombre=${filtro.nombre},
                        categoriaId=${filtro.categoriaId},
                        precioMinimo=${filtro.precioMinimo},
                        precioMaximo=${filtro.precioMaximo})}"
                   th:text="${i + 1}"></a>
            </li>

            <!-- Siguiente pagina-->
            <li class="page-item" th:classappend="${page.last} ? 'disabled'">
                <a class="page-link" th:href="@{/productos(pagina=${page.number + 1},
                        nombre=${filtro.nombre},
                        categoriaId=${filtro.categoriaId},
                        precioMinimo=${filtro.precioMinimo},
                        precioMaximo=${filtro.precioMaximo})}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

        </ul>
    </nav>

</div>